.LogIn {
  min-height: 100vh;
  display: grid;
  align-content: center;
  justify-items: center;
  width: 100%;

  &_LogInFormLink {
    text-decoration: none;
    font-size: 1.6rem;
    border-bottom: 1px solid transparent;
    color: #0000ff;
    &:hover {
      border-bottom: 1px solid #0000ff;
    }
    &:active {
      color: #0000ff;
    }
  }
  &_Container {
    width: 100%;
    display: grid;
    justify-items: center;
  }
  &_Form {
    width: 60%;
    display: grid;
    grid-gap: 1rem;
    justify-items: center;
    @media only screen and (max-width: 37.5em) {
      & {
        width: 90%;
      }
    }
    &__Text {
      font-size: 1.2rem;
    }
  }
  &_Button {
    margin-bottom: 2rem;
    background-image: linear-gradient(to right bottom, #00bfff, #00ced1);
    &:hover {
      background-image: linear-gradient(to right bottom, #10a0cf, #19a9ac);
    }
  }
}
