.ProfileCredentials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding: 1rem;
  margin: 3rem 0;
  @media only screen and (max-width: 37.5em) {
    & {
      grid-template-columns: 1fr;
    }
  }

  &_Experience {
    padding: 1rem;
    display: grid;
    grid-gap: 2rem;

    &__Details {
      display: grid;
      grid-gap: 1rem;
      box-shadow: 0rem 0rem 0.2rem rgba(0, 0, 0, 0.4);
      padding: 1rem;
      border-radius: 1rem;
    }
  }
  &_Education {
    padding: 1rem;
    display: grid;
    align-content: start;
    grid-gap: 2rem;

    &__Details {
      display: grid;
      grid-gap: 1rem;
      border-radius: 1rem;
      box-shadow: 0rem 0rem 0.2rem rgba(0, 0, 0, 0.4);
      padding: 1rem;
    }
  }
}
